
/* SignIn */  /* linear-gradient(270deg, #F61B1B, #EC5837) */
.left-form{
	-fx-background-color: linear-gradient(to bottom right, #F61B1B, #EC5837);
	-fx-border-color: #000;
	-fx-border-width: .4px 0px .4px .4px;
}

.right-form{
	-fx-background-color: #fff;
	-fx-border-color: #000;
	-fx-border-width: .4px .4px .4px 0px;
}

.close{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}
.close:hover{
	-fx-background-color: #fb3d63;
}

.textfield{
	-fx-background-color: linear-gradient(to bottom, #efefef, #eee);
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-color: #000;
	-fx-border-width: .2px;
	-fx-font-size: 13px;
	-fx-font-family: "Tahoma";
}
.textfield:focused{
	-fx-background-color: #fff;
	-fx-border-color: linear-gradient(to bottom right, #F61B1B, #EC5837);
	-fx-border-width: .9px;
}

.login-btn{
	-fx-background-color: linear-gradient(to bottom, #F61B1B, #EC5837);
	-fx-background-radius: 10px;
	-fx-cursor: hand;
	-fx-text-fill: #fff;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
}
.login-btn:hover{
		-fx-background-color: #FB5B16;	
}

.label-link{
	-fx-font-family: "Arial";
	-fx-font-size: 13px;
	-fx-cursor: hand;
	-fx-text-fill: #b29d9d;
}
.label-link:hover{
	-fx-text-fill: linear-gradient(to bottom, #F61B1B, #EC5837);
}
